<div ng-controller="timelineController">
	
	<div>
		<p>
			{{header}}&nbsp;&nbsp;<button ng-click="disconnectUser()">Se déconnecter</button>
		</p>
	</div>
	
	<div>
		<h2>Ajouter un article</h2>
		
		<p>
			<input type="text" size="67" placeholder="Titre" ng-model="title"/>
			<br/>
			<textarea type="text" rows="5" cols="50" placeholder="Article" ng-model="text"></textarea>
			<button ng-click="addArticle()">Ajouter</button>
		</p>
	
		<p><pre>{{message}}</pre></p>
	</div>
	
	<div ng-show="timelineState">
		<h2>Timeline</h2>
		<div>
			{{content}}
		</div>
	</div>

</div>
