<div ng-controller="timelineController">
	
	<div>
		<p>
			{{header}}&nbsp;&nbsp;<button ng-click="disconnectUser()">Se déconnecter</button>
		</p>
	</div>
	
	<div>
		<h2>Ajouter un article</h2>
		
		<p>
			<input type="text" size="67" placeholder="Titre" ng-model="title"/>
			<br/>
			<textarea type="text" style="resize : none" rows="5" cols="50" placeholder="Article" ng-model="text"></textarea>
			<button ng-click="addArticle()">Ajouter</button>
			<pre>{{addArticleMessage}}</pre>
		</p>
	</div>
	
	<div ng-show="showTimelineState">
		<h2>Timeline</h2>
		
		<table>
			<tr ng-repeat="article in articles">
				<td style="border : 0.063em solid black" ng-init="setOwnerPseudoForObject(article.ownerId, article)">
				
					<h3 align="center">{{article.title}}</h3>
					
					<pre>{{article.text}}</pre>
					
					<p align="right" style="font-style : italic; font-size : 0.625em">
						Article créé/modifié le&nbsp;{{article.dateOfLastUpdate}} | Par&nbsp;{{article.ownerPseudo}}
					</p>
					
					<button ng-click="addComment(article.id)">Commenter</button>
					<button ng-show="showAction(article.ownerId)" ng-click="openUpdateArticle(article.id, article.title, article.text)">Modifier</button>
					<button ng-show="showAction(article.ownerId)" ng-click="deleteArticle(article.id)">Supprimer</button>
					
					<ul style="border : 0.063em solid black" ng-repeat="comment in article.comments">
						<li style="list-style-type : none; padding-right : 10%;" ng-init="setOwnerPseudoForObject(comment.ownerId, comment)">
							
							<pre>{{comment.text}}</pre>
							
							<p align="right" style="font-style : italic; font-size : 0.625em">
								Commentaire créé/modifié le&nbsp;{{comment.dateOfLastUpdate}} | Par&nbsp;{{comment.ownerPseudo}}
							</p>
							
							<button ng-show="showAction(comment.ownerId)" ng-click="updateComment(comment.id, comment.text)">Modifier</button>
							<button ng-show="showAction(comment.ownerId)" ng-click="deleteComment(comment.id)">Supprimer</button>
						
						</li>
					</ul>
					
				</td>
			</tr>
		</table>
	</div>
	
</div>
